<div id="confirmBackdrop" class="modal-backdrop" style="display: none;"></div>
<div id="confirmModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header fw-bold"></div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button id="ConfirmNoButton">No</button>
                <button id="ConfirmYesButton">Yes</button>
            </div>
        </div>
    </div>
</div>