<div id="NotificationBackdrop" class="modal-backdrop"></div>
<div id="NotificationModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header fw-bold"></div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button id="NotificationOKButton">OK</button>
            </div>
        </div>
    </div>
</div>